body {
    background-color: seashell;
}
h1 {
    text-align: center;
}
h3 {
    width: 60%;
    margin: 15px auto;
    display: flex;
    justify-content: center;
}
p {
    margin: -5px 40px 40px 40px;
}

.gen-info-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}

.gen-info-carousel {
    position: relative;
    background-color: lightblue;
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-radius: 10px;
}

.detailed-page-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}
.detailed-page-link:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    color: rgba(40, 70, 140, 1);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 10px;
    color: seashell;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6 ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: background-color 0.4s ease;
}
.prev {
    left: 0px;
}
.next {
    right: 0px;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(128,128,128,0.8);
}

.carousel-indicators {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 5px;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: seashell;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.4s ease;
}

.active, .dot:hover {
    background-color: rgba(128,128,128,0.8);
}