h1 {
    text-align: center;
}
h3 {
    text-align: center;
}

.gen-info-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    background-color: powderblue;
}

.gen-info-carousel {
    background-color: orange;
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 15px;
}